<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title><%= docTitle %></title>

<%- include( "./bootstrap-css.ejs" ); -%>
<link rel="stylesheet" href="/styles/app.css">
